<%- include('header') %>
<div class="page-wrapper">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Form Basic</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Library
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form class="form-horizontal" method="post" action="/editData" enctype="multipart/form-data">
            <input type="hidden" value="<%= data.id %>" name="Id">
            <div class="card-body">
              <h4 class="card-title">Personal Info</h4>
              <%if(flash.success && flash.success.length > 0){%>
                <div class="alert alert-success ">
                  <%=flash.success%>
                </div>
                <%}%>
              <div class="form-group row">
                <label for="fname" class="col-sm-3 text-end control-label col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" name="fname" class="form-control" id="fname" placeholder="Enter First Name Here" value="<%= data.name %>"/>
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-3 text-end control-label col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email Here" value="<%= data.email %>" />
                </div>
              </div>
              <div class="form-group row">
                <label for="password" class="col-sm-3 text-end control-label col-form-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password Here" value="<%= data.password %>"/>
                </div>
              </div>
              <div class="form-group row">
                <label for="gender" class="col-sm-3 text-end control-label col-form-label">Gender</label>
                <div class="col-sm-9">
                  <input type="radio" name="gender" id="gender" value="male" <% if(data.gender == "male") { %> <%= "checked" %> <% } %> />Male
                  <input type="radio" name="gender" id="gender" value="female" <% if(data.gender == "female") { %> <%= "checked" %> <% } %>/>Female
                </div>
              </div>
              <div class="form-group row">
                <label for="hobby" class="col-sm-3 text-end control-label col-form-label">Hobby</label>
                <div class="col-sm-9">
                  <input type="checkbox" name="hobby[]" id="hobby" value="reading" <% if(data.hobby.includes('reading')) { %> <%= "checked" %> <% } %>/>Reading
                  <input type="checkbox" name="hobby[]" id="hobby" value="music" <% if(data.hobby.includes('music')) { %> <%= "checked" %> <% } %>/>Music
                  <input type="checkbox" name="hobby[]" id="hobby" value="adventure" <% if(data.hobby.includes('adventure')) { %> <%= "checked" %> <% } %> />Adventure
                </div>
              </div>
              <% var city = ['Surat', 'Dang', 'Vadodara', 'Navasari']; %>
              <div class="form-group row">
                <label for="city" class="col-sm-3 text-end control-label col-form-label">City</label>
                <div class="col-sm-9">
                  <select name="city" id="city" class="form-control">
                    <option value="">--select city--</option>
                    <% city.forEach((v, i) => { %>
                      <option value="<%= v %>" <% if(data.city == v) { %> <%= "selected" %> <% } %>><%= v %></option>
                    <% }); %>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="description" class="col-sm-3 text-end control-label col-form-label">Description</label>
                <div class="col-sm-9">
                  <textarea name="description" id="description" cols="50" rows="5" class="form-control"><%= data.description %></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label for="description" class="col-sm-3 text-end control-label col-form-label">Avatar</label>
                <div class="col-sm-9">
                  <input type="file" name="avatar" id="avatar" class="form-control">
                  <img src="<%= data.avatar %>" height="100">
                </div>
              </div>
            </div>
            <div class="border-top">
              <div class="card-body">
                <input type="submit" class="btn btn-primary" value="Submit" name="submit">
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

    <%- include('footer') %>